@{
  Layout = "_Layout";
}

<h1>Welcome to your Factory Management System</h1>
<br>
<div class="machineHome">
  <p>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</p>
  <img src="~/img/engineer.jpg">
  <br>
  <br>
  <br>
  <p>@Html.ActionLink("Manage Machines", "Index", "Machines")</p>
  <img src="~/img/terminator.jpg">
</div>